.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
}

.cards div {
    background-color: white;
    margin: 10px;
    width: 52vh;
    min-height: 200px;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* On hover transition and transform*/
.cards div:hover {
    transform: scale(1.15);
    transition: all 1s;
}

.cards div img {
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
}

.cards div p {
    color: black;
    font-size: 12px;
    margin: 5px;
}

.grow-shadow {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.grow-shadow cards:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 15px 7px #C7C7C7;
}


.extra {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    font-size: 15px;
    color: gray;
}

.extra .plus {
    background-color: rgb(19, 101, 252);
    border-radius: 10px;
    color: white;
    margin: 15px 5px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.plus p {
    margin: 0;
    padding: 0px 20px;
}

.background {
    overflow-y: scroll;
}